html {
      background: lightyellow;		
} 
     #oberteil {
       text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 width: 40%;
}
.text_center {
  text-align: center;
}
#heilige_birma {
  width: 20%;
}
#britisch_kurzhaar {
  width: 20%;
}	
